@model IQueryable<DAL.Book>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
        @foreach (var item in Model)
        {
            <p> @item.Title</p> <br />
            <p> @item.Descriptn</p> <br />
        }
    </div>
</body>
</html>
